# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Build
build/

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# Misc
*.log